<%# <%= stylesheet_link_tag "assets/stylesheets/application.css" %> 

<div class="movies-section">
  <div class="cards-container">
    
    <% @movies.each do |movie| %>
      <div class="card">
        <div class="card-content">
          <div class="card-content__header">
            <div class="card-content__header-title">
              <h2 class="card-content__title"><%= movie.name %></h2>
              <p class="card-content__release-date"><%= movie.release_date %></p>
            </div>
            <div class="movie-<%= movie.id %>">
            <!-- Button trigger modal -->
              <% if movie.status == 1 %>
                <%= link_to "Rented", toggle_available_status_movie_path(movie), method: :post, remote: :true, class:"button btn-rented" %>
              <% else %>
                <button type="button" class="btn btn-available" data-toggle="modal" data-target="#modal-<%= movie.id %>" >
                  Rent Movie
                </button>
              <% end %>
            </div>
            
          </div>
          <div class="card-content__tags">
            <div>
              <span class="card-conent__tag--title"><strong>Category: </strong></span>
              <span class="card-content__tag"><%= movie.category.name %></span>
            </div>
            <span class="card-conent__tag--title"><strong>Director:</strong> <%= movie.director %> </span>
            <% if movie.rented? %>
              <span class="card-content__tag--title"><strong>Status:</strong> Rented by <%= movie.user.name %> </span>
            <% else %>
              <span class="card-content__tag--title"><strong>Status:</strong> Available </span>
            <% end %>
          </div>
          <div class='card-footer'>
            <p><%= link_to "Edit", edit_movie_path(movie) %></p> |
            <p><%= link_to "Delete", movie_path(movie), method: :delete, data: {confirm: "Are you sure you want to delete this movie?"} %></p>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="modal-<%= movie.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Rent Movie</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render 'user_form', movie: movie %>
              
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <%= paginate @movies %>
  </div>
</div>

