<div class='form-body'>
  <%= form_for @user, local: true do |form| %>

    <div>
      <p class='form-p'>
        <%= form.label :name, class: 'form-text' %>
        <%= form.text_field :name, class: 'form-field' %>
      </p>
      <p class='form-p'>
        <%= form.label :email, class: 'form-text' %>
        <%= form.text_field :email, class: 'form-field', placeholder: "user@mail.com" %>
      </p> 
      
      <div class = "form-button form-p">
        <%= form.submit class: "button btn-form"%>
        <%= link_to "Cancel", :back, class: 'button button-movie' %>
      </div>
    </div>
  <% end %>
</div>