<!DOCTYPE html>
<html>
  <head>
    <title>RailsMovieRentalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <div class='section_title'>
    <%= link_to movies_path do %>
      <h1 class="title">Movie Rent Store</h1>
    <% end %>
  </div>
  <%# <div class='search-bar'> %>
      <%= form_with class: 'button search-bar', url: search_path, method: 'get', local: true do |form|  %>
      <%= form.text_field :query, placeholder: "search", class: "no-outline" %>
      <% end %>
  <%# </div> %>
    <div class="header_links">
      <% if current_user %>
        <span>Logged as, <span class="username"><%= current_user.name %></span> </span>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "button" %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "button" %>
      <% end %>
      <%= link_to new_movie_path do %>
        <span class='button button-movie'>New Movie</span>
      <% end %>
    </div>
  </div>


  </header>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
    <%= yield %>
  </body>
</html>
